body
    font-size 16px
    height 100%
    
.content-wrapper
    margin 0 0 0 220px
    //min-height 700px
    background #EAEAEA
    color #003E59

.logo a img
    width 50%

.paddingWrapper
    padding 1em

.nav-wrapper
    position fixed
    width 220px
    background #003E59
    color #EAEAEA
    overflow auto
    top 0px
    height 100%

.message
    background #8E8C93
    line-height 2em
    padding .5em
    color #F3F3F4
    
.border-bottom
    border-bottom 1px solid #6E5D5D