bg_nav = #003E59
bg_content = #EAEAEA
bg_message = #F3F3F4
color_message = #777
border_bottom = #C7CBD4

body
    font-size 16px
    height 100%
    
.content-wrapper
    background bg_content
    color bg_nav
    margin 0 0 0 220px

.logo a img
    width 50%

.paddingWrapper
    padding 1em

.nav-wrapper
    background bg_nav
    color bg_content
    height 100%
    overflow auto
    position fixed
    top 0px
    width 220px

.message
    background bg_message
    color color_message
    font-size .9em
    font-weight 400
    line-height 1.25em
    padding .5em
    
.border-bottom
    border-bottom 1px solid border_bottom

.page
    background none repeat scroll 0% 0% #FFF
    border-bottom 1px solid #E7EAEC
    color #757481
    padding-bottom 0.5em
    h2
        margin 0